#animated-text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 28px;
  font-weight: 600;
  color: #63009c;
  border-right: 2px solid #63009c;
  overflow: hidden;
  width: fit-content;
  animation: blink 1s step-end infinite;
  margin: 0 auto;
  text-align: center;
}

@keyframes blink {
  50% { border-color: transparent; }
}
body {
  margin: 0;
  background: linear-gradient(to right, #ff0000, #ffa500);
  font-family: 'Segoe UI', sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

    .card {
      background: rgba(255, 255, 255, 0.2);
      color: #333;
      padding: 20px;
      border-radius: 15px;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
      text-align: center;
      max-width: 300px;
      backdrop-filter: blur(8px);
      -webkit-backdrop-filter: blur(8px);
    }


    .card h2 {
      margin: 10px 0;
      font-size: 30px;
      color: white;
    }

    .card img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        border: 3px solid linear-gradient(to left, #63009c, red);
    }
    .btn {
      display: inline-block;
      margin-top: 20px;
      padding: 10px 20px;
      background: #764ba2;
      color: white;
      border: none;
      border-radius: 20px;
      text-decoration: none;
      transition: background 0.5s ease-in-out 0.5s;
    }

    .btn:hover {
      text-decoration:underline;
    }